@model duendeMakeApp.Models.Paquete

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Estado == true)
            {
                <h5><span class="badge badge-success">Activo</span></h5>
            }
            else
            {
                <h5><span class="badge badge-danger">Inactivo</span></h5>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaqueteId" name="id"/>
        @* <input type="submit" value="Delete" class="btn btn-danger" /> | *@
        <a class="btn btn-primary" asp-action="Index">Regresar</a>
        <input class="btn btn-danger" type="submit" value="Eliminar" />
    </form>
</div>
