@model IEnumerable<duendeMakeApp.Models.Paquete>

@{
    ViewData["Title"] = "Index";
}

@try
{
    @if(ViewBag.Usuario.TipoId == 1)
    {

        <h1>Paquetes</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Create Nuevo Paquete</a>
        </p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadDisponible)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadDisponible)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.PaqueteId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PaqueteId">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PaqueteId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">Acceso ddenegado.</div>
    }
}
catch(Exception ex)
{
    <div class="alert alert-danger">Acceso denegado.</div>
    @ex
}