@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<!-- Agrega un modal -->
<div class="modal fade" id="comprobanteModal" tabindex="-1" role="dialog" aria-labelledby="comprobanteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comprobanteModalLabel">Comprobante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="comprobanteImagen" src="" alt="Comprobante" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (ViewBag.Usuario.Tipo.Tipo == "admin")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @if (@item.estado==1)
                        {
                            <span class="badge badge-warning">
                                Pendiente
                            </span>
                        }
                        else if (@item.estado==2)
                        {
                            <span class="badge badge-success">
                                Aprobado
                            </span>
                        }
                        else if (@item.estado==3)
                        {
                            <span class="badge badge-danger">
                                Denegado
                            </span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="verComprobante('@item.imagen')">Ver Comprobante</button>
                        @if(item.estado == 1){
                            <a class="btn btn-success" asp-action="Aprobar" asp-route-id="@item.IdVenta">Aprobar pedido</a> 
                            <a class="btn btn-danger" asp-action="Denegar" asp-route-id="@item.IdVenta">Denegar pedido</a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdVenta">Detalles</a>
                        }
                    </td>
                </tr>
            }
            else
            {
                @if (ViewBag.Usuario.Tipo.Tipo == "cliente" && item.Cliente == ViewBag.Usuario.Correo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdVenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPedido)
                        </td>
                        <td>
                            @if (@item.estado==1)
                            {
                                <span class="badge badge-warning">
                                    Pendiente
                                </span>
                            }
                            else if (@item.estado==2)
                            {
                                <span class="badge badge-success">
                                    Aprobado
                                </span>
                            }
                            else if (@item.estado==3)
                            {
                                <span class="badge badge-danger">
                                    Denegado
                                </span>
                            }
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="verComprobante('@item.imagen')">Ver Comprobante</button>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdVenta">Detalles</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    // Función para mostrar la imagen en el modal
    function verComprobante(imagenUrl) {
    document.getElementById('comprobanteImagen').src = imagenUrl;
    $('#comprobanteModal').modal('show'); // Muestra el modal
    }
</script>