@model duendeMakeApp.Models.Maquillaje

@{
    ViewData["Title"] = "Eliminar maquillaje";
}

<h1>Eliminar</h1>

<h3>̀¿Estás segura que deseas eliminar este maquillaje?</h3>
<div>
    <h4>Maquillaje @Model.MaquillajeId</h4>
    <hr />
    <dl class="row">
        <div id="carousel-@Model.MaquillajeId" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var imagen in Model.Imagens)
                {
                    <div class="carousel-item @(imagen == Model.Imagens.First() ? "active" : "")">
                        <a href="@imagen.Url.Replace("m\\/","m/")" target="_blank">
                            <img class="img-fluid" src="@imagen.Url" data-holder-rendered="true">
                        </a>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carousel-@Model.MaquillajeId" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-@Model.MaquillajeId" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaquillajeId" name="id"/>
        <a class="btn btn-primary" asp-action="Index" asp-route-usuarioId="">Regresar</a>
        <input type="submit" class="btn btn-danger" asp-route-usuarioId="@ViewBag.usuario.UsuarioId" value="Eliminar">
    </form>
</div>
