@model duendeMakeApp.Models.Tag

@{
    ViewData["Title"] = "Detalles";
}

@try
{
    @if (ViewBag.Usuario.Tipo.Tipo == "admin")
    {
        <h1>Detalles</h1>

        <div>
            <h4>Tag (@Model.TagId) @Model.Nombre</h4>
            <hr />
            <dl class="row">
                @foreach(Imagen img in Model.Imagens)
                {
                    <a class="card mb-3" style="max-width: 540px;" asp-controller="Imagenes" asp-action="Details" asp-route-id="@img.ImagenId">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@img.Url"
                                        class="rounded-start" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@img.Nombre</h5>
                                    <p class="card-text">
                                        @img.Descripcion
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </dl>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Index">Regresar</a>
            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.TagId">Editar</a>
        </div>
    }
    else
    {
        <div class="alert alert-danger">Acceso denegado.</div>
    }
}
catch (Exception ex)
{
    <div class="alert alert-danger">Acceso denegado.</div>
    @ex
}
