@model IEnumerable<duendeMakeApp.Models.Tag>

@{
    ViewData["Title"] = "Tags";
}

@try
{
    @if (ViewBag.Usuario.Tipo.Tipo == "admin")
    {
        <h1>Tags</h1>


        <p>
            <a class="btn btn-primary" asp-action="Create">Crear nuevo tag</a>
        </p>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <h5><span class="badge badge-success">@item.Nombre</span></h5>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.TagId">Editar</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.TagId">Detalles</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.TagId">Eliminar</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">Acceso denegado.</div>
    }
}
catch (Exception ex)
{
    <div class="alert alert-danger">Acceso denegado.</div>
    @ex
}