@model IEnumerable<duendeMakeApp.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

@try
{
    @if (ViewBag.Usuario.TipoId == 1)
    {
        <h1>Categoria</h1>

        <p>
            <a class="btn btn-primary" asp-action="Create">Crear Categoria</a>
        </p>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                            @* <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> | *@
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">Acceso ddenegado.</div>
    }

}
catch(Exception ex)
{
    <div class="alert alert-danger">Acceso ddenegado.</div>
}