@model IEnumerable<duendeMakeApp.Models.Carrito>

@{
    ViewData["Title"] = "Carrito de compras";
}

<h1>Carrito de compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>Precio unitario</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarritoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarritoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarritoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
