@model duendeMakeApp.Models.Imagen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imagen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            @foreach (Tag item in Model.Tags)
            {
                <a asp-controller="Tags" asp-route-id="@item.TagId">
                    <span class="badge badge-success">@item.Nombre</span>
                </a>
            }
        </dd>
        <dt class="col-sm-2">
            Maquillajes
        </dt>
        <dd class="col-sm-10">
            @foreach (Maquillaje item in Model.Maquillajes)
            {
                <a asp-controller="Maquillajes" asp-route-id="@item.MaquillajeId">
                    <span class="badge badge-info">@item.Nombre</span>
                </a>
            }
        </dd>
        <dt class="col-sm-2">
            Productos
        </dt>
        <dd class="col-sm-10">
            @foreach (Producto item in Model.Productos)
            {
                <a asp-controller="Productos" asp-route-id="@item.ProductoId">
                    <span class="badge badge-info">@item.Nombre</span>
                </a>
            }
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImagenId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
