@model duendeMakeApp.Models.Imagen

@{
    ViewData["Title"] = "Editar imagen";
}

<h1>Editar imagen</h1>

<h4>Imagen @Model.ImagenId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImagenId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            @if (Model.Venta.Count() == 1)
            {
                //badge
                <span class="badge badge-light">Los comprobante de venta no se pueden asociar a un producto o maquillaje.</span>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Seleccionar tags:</label>
                    @foreach (Tag tag in ViewBag.Tags)
                    {
                        <label class="btn btn-secondary">
                            @if (Model.Tags.Contains(tag))
                            {
                                <input type="checkbox" name="TagsIds" value="@tag.TagId" checked="checked" />
                                @tag.Nombre
                            }
                            else
                            {
                                <input type="checkbox" name="TagsIds" value="@tag.TagId" />
                                @tag.Nombre
                            }
                        </label>
                    }
                </div>

                <div class="form-group">
                    <label class="control-label">
                        Seleccionar maquillajes:
                        @foreach (Maquillaje maquillaje in ViewBag.Maquillajes)
                        {
                            <label class="btn btn-secondary">
                                @if (Model.Maquillajes.Contains(maquillaje))
                                {
                                    <input type="checkbox" name="MaquillajesIds" value="@maquillaje.MaquillajeId" checked="checked" />
                                    @maquillaje.Nombre
                                }
                                else
                                {
                                    <input type="checkbox" name="MaquillajesIds" value="@maquillaje.MaquillajeId" />
                                    @maquillaje.Nombre
                                }
                            </label>
                        }
                    </label>
                </div>


                <div class="form-group">
                    <label class="control-label">
                        Seleccionar productos:
                        @foreach (Producto producto in ViewBag.Productos)
                        {
                            <label class="btn btn-secondary">
                                @if (Model.Productos.Contains(producto))
                                {
                                    <input type="checkbox" name="ProductosIds" value="@producto.ProductoId" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="ProductosIds" value="@producto.ProductoId" />
                                    @producto.Nombre
                                }
                            </label>
                        }
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="hidden" asp-for="Url" />
                <a class="btn btn-outline-danger" asp-action="Details" asp-route-id="@Model.ImagenId">Regresar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}