@model IEnumerable<duendeMakeApp.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<style>
    .fade-in {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
</style>

@if (!string.IsNullOrEmpty(TempData["mensaje"] as string))
{
    <div class="alert alert-info fade-in" id="mensajeDiv">@TempData["mensaje"]</div>
    TempData.Remove("mensaje");
    <script>
        // JavaScript para ocultar el mensaje después de 3 segundos
        setTimeout(function () {
            var mensajeDiv = document.getElementById('mensajeDiv');
            mensajeDiv.classList.remove('fade-in');
            mensajeDiv.classList.add('fade-out');
        }, 3000); // 3000 milisegundos = 3 segundos
    </script>
}

<div class="container">
    <h1>Productos</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form asp-controller="Productos" asp-action="Index" method="get" class="form-inline">


                        <div class="form-group">
                            <select class="form-control" id="categoriaId" name="categoriaId">
                                <option value="">Todas las categorías</option>
                                @foreach (Categoria cat in ViewBag.categorias)
                                {
                                    <option value="@cat.CategoriaId">@cat.Nombre</option>
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <select class="form-control" id="subcategoriaId" name="subcategoriaIds">
                                <option value="">Todas las subcategorías</option>
                                @foreach (Subcategoria subcat in ViewBag.subcategorias)
                                {
                                    <option value="@subcat.SubcategoriaId">@subcat.Nombre</option>
                                }
                            </select>
                        </div>



                        <button type="submit" class="btn btn-primary ml-2">Filtrar</button>
                    </form>
                </li>
            </ul>
                
            <form class="form-inline my-2 my-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @try{
                    @if(ViewBag.Usuario.TipoId == 1)
                    {  
                        <a class="btn btn-primary" asp-action="Create">Agregar producto</a>
                    }
                }
                catch(Exception e){}
            </form>
        </div>
    </nav>

    <br>

    <div class="row">
        @foreach (Producto producto in Model)
        {
            <div class="col-md-4">
                @if (producto.Estado == false || producto.Cantidad < 1)
                {
                    <p class="text-danger">Sin stock</p>
                }
                else
                {
                    <p class="text-success">En stock</p>

                }
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]"
                         style="height: 225px; width: 100%; display: block; object-fit:cover;" src= "@producto.Imagen.Url" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-title"><strong>@producto.Nombre</strong></p>
                        <p class="card-text">@producto.Descripcion</p>
                        <p class="card-text">@producto.Precio ₡</p>
                        <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                 @if (producto.Estado == true && producto.Cantidad > 0)
                                {
                                    try
                                    {
                                        if (ViewBag.Usuario.TipoId == 2)
                                        {
                                            <a class="btn btn-secondary" asp-action="agregarAlCarrito" asp-route-id="@producto.ProductoId">Agregar al carrito</a>
                                        }
                                    }
                                    catch (Exception e)
                                    {
                                        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal" data-dismiss="modal">Agregar al carrito</a>
                                    }
                                }
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@producto.ProductoId">Ver</button>

                                  </div>        
                                
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="@producto.ProductoId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@producto.Nombre</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div id="carousel-@producto.ProductoId" class="carousel slide" data-ride="carousel">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" style="">
                                                            <article class="card" style="max-width: 18rem;">
                                                                <img class="card-img-top"
                                                                        style="height: 300px; width: 300px; display: block;object-fit:cover;"
                                                                        src="@producto.Imagen.Url"
                                                                        data-holder-rendered="true">
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="row">
                                                <dt>
                                                    Nombre: <br>
                                                </dt>
                                                <dd>
                                                    @producto.Nombre
                                                </dd>
                                                <dt>
                                                    Descripcion: <br>
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @producto.Descripcion
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(producto => producto.Precio)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @producto.Precio ₡
                                                </dd>
                                            </td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                        @try
                        {
                            @if (ViewBag.Usuario.TipoId == 1)
                            {
                                <div class="modal-footer">
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@producto.ProductoId">Eliminar</a>
                                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@producto.ProductoId">Editar</a>
                                    
                                </div>
                            }                   
                        }
                        catch (Exception)
                        {

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
