@model IEnumerable<duendeMakeApp.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<section class="h-100 h-custom">
    
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <h1>Carrito de compras</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="h4">Producto</th>
                                <th scope="col" class="h4">Precio</th>
                                <th scope="col" class="h4">Cantidad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal precioTotal = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"
                                                 style="width: 120px;" alt="Book">
                                            <div class="flex-column ms-4">
                                                <p class="h5">@item.Nombre</p>
                                                <p class="h7">@item.Descripcion</p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;">₡@item.Precio</p>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex flex-row">

                                            <input id="form1" min="0" name="quantity" value="@item.Cantidad" type="number"
                                                   class="form-control form-control-sm" style="width: 50px;" disabled />
                                            <a class="btn btn-outline-primary" asp-action="SumarProducto" asp-route-id="@item.ProductoId">➕</a>
                                            <a class="btn btn-outline-primary" asp-action="RestarProducto" asp-route-id="@item.ProductoId">➖</a>                                            
                                           

                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <a class="btn btn-outline-danger" asp-action="eliminarDelCarrrito" asp-route-id="@item.ProductoId">❌</a>

                                    </td>
                                    @{
                                        decimal precioProducto = Convert.ToDecimal(item.Precio * item.Cantidad);
                                        precioTotal += precioProducto;
                                    }
                                </tr>

                                <!-- Calcula el precio total para el producto actual y agrégalo al precioTotal -->
                                
                      
                            }
                            

                            
                        </tbody>
                    </table>
                    <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                        <div class="card-body p-4">

                            <div class="row">
                                
                                <div class="col-md-6 col-lg-4 col-xl-6">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-outline mb-4 mb-xl-5">
                                                <label class="form-label">Código postal</label>
                                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                       placeholder="Name" />
                                                
                                            </div>

                                            <div class="form-outline mb-4 mb-xl-5">
                                                <label class="form-label">Dirección</label>
                                                <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                                                       size="7" id="exp" minlength="7" maxlength="7" />
                                            </div>
                                            <div class="form-outline mb-4 mb-xl-5">
                                                <label for="imageFile" class="control-label">Selecciona una imagen</label>
                                                <input class="form-control" type="file" id="imageFile" name="imageFile" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-outline mb-4 mb-xl-5">
                                                <label class="form-label">Provincia</label>
                                                <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                       minlength="19" maxlength="19" placeholder="Provincia"/>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-3"></div>

                                <div class="col-lg-4 col-xl-3">
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2">Subtotal</p>
                                        <p class="mb-2">₡@precioTotal</p>
                                    </div>

                                    <hr class="my-4">

                                    <button type="button" class="btn btn-primary btn-block btn-lg">
                                        <div class="d-flex justify-content-between">
                                            <span>Checkout</span>
                                            
                                        </div>
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

</section>