<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - duendeMakeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/duendeMakeApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
    <link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">
</head>
<body>
    <header>
        @*@try {
            @if (ViewBag.usuario.UsuarioId == null || ViewBag.usuario.UsuarioId == 0 || ViewBag.usuario.TipoUsuario.TipoUsuarioId == 2)
            {
                <h1>Soy un cliente default</h1>
                <p>id: @ViewBag.usuario.UsuarioId</p>
                <p>nombre: @ViewBag.usuario.Nombre</p>
                <p>correo: @ViewBag.usuario.Correo</p>
                <p>tipo: @ViewBag.usuario.TipoId</p>
            }
        }
        catch (Exception ex)
        {
            if (ViewBag.usuario == null)
            {
                <h1>falta implementar validación de usuario en sesion</h1>
            }
            else
            {
                if (ViewBag.usuario.TipoId == 1)
                {
                    <h1>Soy administrador</h1>
                }
                else
                {
                    <h1>Soy cliente normal</h1>
                }
                <p>id: @ViewBag.usuario.UsuarioId</p>
                <p>nombre: @ViewBag.usuario.Nombre</p>
                <p>correo: @ViewBag.usuario.Correo</p>
                <p>tipo: @ViewBag.usuario.TipoId</p>
            }
        }*@
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #202124 !important;">
            @if (ViewBag.usuario != null)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@ViewBag.usuario.UsuarioId">
                    <span style="display: inline-block; border: 2px solid black; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; color: black; background-color: white; text-decoration: none;">ME</span>
                </a>
                @* boton que dirige al usuario a la agenda*@
                <a class="navbar-brand" asp-controller="Agendas" asp-action="Index">
                    <span style="display: inline-block; border: 2px solid black; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; color: black; background-color: white; text-decoration: none;">CD</span>
                </a>

            }
            <a class="navbar-brand" asp-area="" asp-controller="Maquillajes" asp-action="Index"
               asp-route-usuarioId="
                @try {
                    @ViewBag.usuario.UsuarioId
                }
                catch (Exception ex) {
                   <text>0</text>
                }
            ">
                <img src="~/css/nb.png" height="60" alt="El rincón de Duende"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" asp-controller="Maquillajes" asp-action="Index" style="color: #fafafa !important;">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" asp-controller="Productos" asp-action="Index" style="color: #fafafa !important;">Productos</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="navbar-brand" asp-controller="Paquetes" asp-action="Index" style="color: #fafafa !important;">Paquetes</a>
                    </li>*@
                    @try
                    {
                        @if (ViewBag.usuario.TipoId == 1)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#fafafa">
                                    Otros
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Tags" asp-action="Index">Tags</a>
                                    <a class="dropdown-item" asp-controller="Imagenes" asp-action="Index">Imágenes</a>
                                    <a class="dropdown-item" asp-controller="Catalogos" asp-action="Index">Catálogos</a>
                                    @*<a class="dropdown-item" asp-controller="Paquetes" asp-action="Index">Paquetes</a>*@
                                    <a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Categorías</a>
                                    <a class="dropdown-item" asp-controller="Subcategorias" asp-action="Index">Sub-categorías</a>                                
                                    <a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                    <a class="dropdown-item" asp-controller="Ventas" asp-action="Index">Ventas</a>
                                </div>
                            </li>
                        }
                    }
                    catch (Exception ex)
                    {
                        <p></p>
                    }
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    @*si el usuario no es null, entonces se muestra el boton de cerrar sesion*@
                    @try
                    {
                        @if (ViewBag.usuario.UsuarioId != 0)
                        {
                            //si es cliente se muestra el carrito
                            @if (ViewBag.usuario.TipoId == 2)
                            {
                                <a class="navbar-brand" asp-area="" asp-controller="Productos" asp-action="Index3"><img src="https://i.imgur.com/QhG3fVp.png" width="28" height="38" alt="Carrito de compras" /></a>
                            }

                            <a class="btn btn-outline-danger" asp-controller="Usuarios" asp-action="CerrarSesion">
                                Cerrar Sesión
                            </a>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                                Iniciar sesión
                            </button>
                        }
                    }
                    catch (Exception ex)
                    {
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Iniciar sesión
                        </button>
                    }
                </form>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - duendeMakeApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Ingresar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí coloca el código del formulario que proporcionaste en tu pregunta original -->
                    <!-- Asegúrate de que los elementos del formulario tengan identificadores únicos -->
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" href="#pills-login" role="tab"
                               aria-controls="pills-login" aria-selected="true" data-toggle="tab">Iniciar sesión</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" href="#pills-register" role="tab"
                               aria-controls="pills-register" aria-selected="false" data-toggle="tab">Registrar</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->
                    <!-- Pills content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                            <form asp-controller="Usuarios" asp-action="IniciarSeccion" method="post">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="loginName" class="form-control" name="correo"/>
                                    <label class="form-label" for="loginName">Correo</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="loginPassword" class="form-control" name="clave" />
                                    <label class="form-label" for="loginPassword">Contraseña</label>
                                </div>

                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Simple link -->
                                        <a href="Usuarios/OlvidarClave">Olvide la contraseña</a>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                            <form asp-controller="Usuarios" asp-action="Create" method="post">
                                <!-- Name input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="registroNombre" class="form-control" name="nombre"/>
                                    <label class="form-label" for="registroNombre">Nombre</label>
                                </div>

                                <!-- Username input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="registroApellido" class="form-control" name="apellido"/>
                                    <label class="form-label" for="registroApellido">Apellido</label>
                                </div>

                                <!-- Username input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="registroUsuario" class="form-control" name="usuario1"/>
                                    <label class="form-label" for="registroUsuario">Usuario</label>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="registroCorreo" class="form-control" name="correo"/>
                                    <label class="form-label" for="registroCorreo">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="registroContrasenna" class="form-control" name="clave"/>
                                    <label class="form-label" for="registroContrasenna">Password</label>
                                </div>

                                <!-- Repeat Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="registroRepetirContrasenna" class="form-control" name="rClave"/>
                                    <label class="form-label" for="registroRepetirContrasenna">Repeat password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-3">Registrar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
