@model IEnumerable<duendeMakeApp.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

@try
{
    @if (ViewBag.Usuario.TipoId == 1)
    {
        <h1>Usuarios</h1>

        <p>
            <a asp-action="Create">Crear Usuario</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo.Tipo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.UsuarioId">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.UsuarioId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">Acceso denegado.</div>   
    }

}
catch
{
    <div class="alert alert-danger">Acceso denegado.</div>
}